.employee{
  background-color: rgba(34, 139, 219, 0.2);
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0.5fr;
  align-items: center;
  gap: 10px;
  width: 95%;
  height: 120px;
  padding: 0 20px;
  margin-bottom: 10px;
}

.profile{
  display: flex;
  align-items: center;
}

.profile img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.profile h3{
  margin-left: 20px;
}

.more-info, .salary{
  margin-left: 10%;
}

.pay-btn{
  width: 80px;
  padding: 10px 20px;
  border: none;
  background-color: #228bdb;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
}