.sidebar{
  background-color: #26ABDC;
  width: 200px;
  text-align: center;
  border-radius: 0 20px 20px 0;
  position: fixed;
  top: 0;
}

nav{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.manager{
  color: white;
}

.manager .name{
  font-weight: 500;
}

.manager img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

li, .log-out{
  list-style: none;
  width: 250px;
  margin-bottom: 3px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

nav a{
  text-decoration: none;
  font-size: 18px;
  color: white;
}

nav a:hover::after{
  content: ">";
  margin-left: 50px;
}