@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.app{
  font-family: 'roboto',sans-serif;
}

header{
  background-color: #228bdb;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
}

.employee-container{
  margin-top: 100px;
  margin-left: 220px;
}